.btn.btn-again{
  border: 2px solid #1D355D;
  padding: 15px 20px;
  color: #1D355D;
  border-radius: 12px;
}
.correctAnswers{
  color: #5bbd7e;
  font-size: 34px;
}
.display-6.bold{
  font-weight: bold;
}
.results{
  color: #1D355D;
}


