.form-control, .form-select{
  border-radius: 20px !important;
}
.cardPadding{
  padding-top: 50px;
}
.btn-primary{
  background: #f9a827 !important;
  border-color: #f9a827 !important;
  color: white;
}