.btn.radius{
  border-radius: 12px;
}
.btn.notAnswered{
  border: 2px solid rgba(96, 102, 208, 0.8);
  color: rgba(96, 102, 208, 0.8);
}

.btn.notAnswered:hover{
  background-color: #F9A826;
  border: 2px solid #F9A826;
  color: white;
}
.btn.correct{
  background-color: #60BF88;
  border: 2px solid #60BF88;
  color:white
}
.btn.wrong{
  background-color: #EA8282;
  border: 2px solid #EA8282;
  color:white
}