.App {
  background-image: url(../static/img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.btn-primary.common{
  background: #f9a827;
  border-color: #f9a827;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.btn-primary.common:hover, .btn-primary.common:active, .btn-primary.common:focus {
  background: #e49a24;
  border-color: #e49a24;
}
.h4.title{
  color: #2F527B;
  font-weight: 600;
}
.card.data{
  border-radius: 24px;
}
.h1.bold, .h2.bold{
  color: #2F527B;
  font-weight: bold;
}